<div class="mx-auto shrink max-w-3xl p-5">
    <% if current_user.twitter_accounts.any? %>
        <%= link_to ' Schedule a Tweet', new_tweet_path, class: "bi bi-twitter inline-block px-3 py-2 rounded-xl bg-blue-500 text-white shadow-md hover:bg-blue-600 mb-2" %>
    <% elsif current_user.twitter_accounts.none? %>
        <%= link_to ' Connect a Twitter account', "/auth/twitter", method: :post, class: "bi bi-twitter inline-block px-3 py-2 rounded-xl bg-blue-500 text-white shadow-md hover:bg-blue-600 mb-2" %>
        <%= render 'svg/buildings' %>
    <% end %>

    <%= render @tweets %>
</div>