<div class="mx-auto shrink max-w-lg border space-y-5 p-5 rounded-xl shadow-md">
    <div class="space-y-2">
        <h1 class="font-bold text-4xl text-gray-900">Hello <%=current_user.email.split('@').first%>!</h1>
        <p class="text-gray-900">To get started, please connect your twitter account.</p>
    </div>


    <%= link_to "Connect Twitter", "/auth/twitter", method: :post, :class => "inline-block px-3 py-2 rounded-xl bg-blue-500 text-white shadow-md hover:bg-blue-600"%>

</div>